<div class="row lastelement">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center greytext">What is your motivation for learning how to code?</h1>
      <div class="top-buffer-large bottom-padding bottom-border">
        <%= link_to "I want to start a career as a developer", q2_path, class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "I want to start a startup", q3_path, class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "I want to realize a personal project",q4_path, class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "I'm just curious, pick a language for me!", r1_path, class: "btn btn-lg btn-primary btn-block" %>
      </div>
        <div class="progress top-buffer-large top-border">
        <div class="progress-bar" style="width: 25%;"></div>    
      </div>
    </div>
  </div>
</div>