<div class="row lastelement">
  <div class="col-md-6 col-md-offset-3">
  	<h1 class="text-center">What is your motivation for learning how to code?</h1>
  	<div class="top-buffer-large">
  		<%= link_to r1_path, class: "btn btn-lg btn-primary btn-block" do %>
        I want to start a career as a developer
        <span class="fui-arrow-right"></span>
      <% end %>
      <%= link_to r1_path, class: "btn btn-lg btn-primary btn-block" do %>
        I want to start a startup
        <span class="fui-arrow-right"></span>
      <% end %>
      <%= link_to r1_path, class: "btn btn-lg btn-primary btn-block" do %>
        I want to realize a personal project
        <span class="fui-arrow-right"></span>
      <% end %>
    </div>
    <div class="top-buffer-large bottom-padding bottom-border">
      <%= link_to root_path, class: "btn btn-lg btn-default btn-block" do %>
        <span class="fui-arrow-left"></span>
        Start again
      <% end %>
  	</div>
  	<div class="progress top-buffer-large top-border">
    	<div class="progress-bar" style="width: 25%;"></div>
    </div class=>
    <p class="text-center">1/4</p>
  </div>
</div>