<div class="row">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center greytext">Are you specifically interested in web applications that handle large amounts of data?</h1>
      <p class="text-center greytext">For example Google, Foursquare or Cloudera.</p>
      <div class="top-buffer-large bottom-padding bottom-border">
        <%= link_to "Yes", "http://bit.ly/1RcQwsV", class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "No", "http://bit.ly/1Fd9Csi", class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "I don't know yet", "http://bit.ly/1GSGSKL", class: "btn btn-lg btn-primary btn-block" %>
      </div>
      <div class="progress top-buffer-large top-border">
        <div class="progress-bar" style="width: 75%;"></div> 
      </div>
      <%= link_to "Previous question", q5_path, class: "btn btn-lg btn-default btn-block greytext top-buffer-large" %>
    </div>
  </div>
</div>