<div class="row">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center greytext">Will the web application you are going to launch be driven by large amounts of data and / or recommendation systems?</h1>
      <div class="top-buffer-large bottom-padding bottom-border">
        <%= link_to "Yes", "http://bit.ly/1JXcwZU", class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "No", "http://bit.ly/1JXHtvP", class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "I don't know yet", "http://bit.ly/1MOQzdo", class: "btn btn-lg btn-primary btn-block" %>
      </div>
      <div class="progress top-buffer-large top-border">
        <div class="progress-bar" style="width: 75%;"></div> 
      </div>
      <%= link_to "Previous question", q3_path, class: "btn btn-lg btn-default btn-block greytext top-buffer-large" %>
    </div>
  </div>
</div>