<div class="row lastelement">
  <div class="col-md-6 col-md-offset-3">
  	<h1 class="text-center greytext">What kind of product are you planning to launch?</h1>
  	<div class="top-buffer-large">
  		<%= link_to r9_path, class: "btn btn-lg btn-primary btn-block" do %>
        I want to build a web application
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
      <%= link_to q7_path, class: "btn btn-lg btn-primary btn-block" do %>
        I want to build a mobile app
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
      <%= link_to r21_path, class: "btn btn-lg btn-primary btn-block" do %>
        I don't know yet
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </div>
    <div class="top-buffer-large bottom-padding bottom-border">
      <%= link_to q1_path, class: "btn btn-lg btn-default btn-block greytext" do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        Previous question
      <% end %>
  	</div>
  	<div class="progress top-buffer-large top-border">
    	<div class="progress-bar" style="width: 66%;"></div>
    </div class=>
    <p class="text-center">2/3</p>
  </div>
</div>