<div class="row">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center greytext">What kind of product would you like to build?</h1>
      <div class="top-buffer-large bottom-padding bottom-border">
        <%= link_to "Web application", q8_path, class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "Mobile app", q9_path, class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "Game", "http://bit.ly/1dAn1oD", class: "btn btn-lg btn-primary btn-block" %>
      </div>
      <div class="progress top-buffer-large top-border">
        <div class="progress-bar" style="width: 50%;"></div> 
      </div>
      <%= link_to "Previous question", q1_path, class: "btn btn-lg btn-default btn-block greytext top-buffer-large" %>
    </div>
  </div>
</div>