<div class="row">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center greytext">For which platform would you prefer to develop apps?</h1>
      <p class="text-center greytext">Android- and iPhone applications are programmed in completely different languages. Most mobile developers specialize exclusively in one  platform.</p>
      <div class="top-buffer-large bottom-padding bottom-border">
        <%= link_to "Android", "http://bit.ly/1d2eXMy", class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "iPhone / iPad", "http://bit.ly/1EB0sW1", class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "No preference", q11_path, class: "btn btn-lg btn-primary btn-block" %>
      </div>
      <div class="progress top-buffer-large top-border">
        <div class="progress-bar" style="width: 75%;"></div> 
      </div>
      <%= link_to "Previous question", q2_path, class: "btn btn-lg btn-default btn-block greytext top-buffer-large" %>
    </div>
  </div>
</div>