<div class="row lastelement">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center greytext">For which mobile platform would you like to develop apps?</h1>
      <div class="top-buffer-large bottom-padding bottom-border">
        <%= link_to "Android", r12_path, class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "iPhone / iPad", r5_path, class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "I don't know yet", r18_path, class: "btn btn-lg btn-primary btn-block" %>
      </div>
      <div class="progress top-buffer-large top-border">
        <div class="progress-bar" style="width: 50%;"></div> 
      </div>
      <%= link_to "Previous question", q2_path, class: "btn btn-lg btn-default btn-block greytext top-buffer-large" %>
    </div>
  </div>
</div>