<div class="row">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center greytext">Would you prefer to build a static or dynamic site?</h1>
      <p class="text-center greytext">Examples of static sites are portfolio pages or company websites; dynamic sites have richer functionality such as the ability to login, post, and write comments.</p>
      <div class="top-buffer-large bottom-padding bottom-border">
        <%= link_to "Static site", "http://bit.ly/1dAnK9q", class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "Dynamic site", "http://bit.ly/1J5K7QU", class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "No preference", "http://bit.ly/1KsszMd", class: "btn btn-lg btn-primary btn-block" %>
      </div>
      <div class="progress top-buffer-large top-border">
        <div class="progress-bar" style="width: 75%;"></div> 
      </div>
      <%= link_to "Previous question", q4_path, class: "btn btn-lg btn-default btn-block greytext top-buffer-large" %>
    </div>
  </div>
</div>