<div class="row">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">

    	<h1 class="text-center">You should learn...</h1>
    	<h1 class="text-center essence">...<%= @programming_language %>...</h1>
    	<div class="top-buffer-large">
    		<%= image_tag @programming_language_image, class: "img-responsive center-block" %>