<div class="row lastelement">
  <div class="col-md-8 col-md-offset-2">
  	<h1 class="text-center">You should learn...</h1>
  	<h1 class="text-center essence">...Ruby</h1>
  	<div class="top-buffer-large">
  		<%= image_tag "ruby.png", class: "img-responsive center-block" %>
  		<p class="top-buffer-large">Being interested in the technical aspects of web applications, your goal should be to become a back end web developer. The back end is the „under the hood“ part of a web application where all the technical magic is programmed. The back end of a web application is complemented with the front end which is the part of the application you can see and interact with.</p>
  		<p>The best choice Ruby for programming the back end of web applications is Ruby. Ruby is a modern and upcoming laguage gainig popularity in a broad range of industries, especially amongst startups, where it is the programming language #1. Ruby is not typically though in Computer Science Degrees which allows you to set yourself apart on the job market where employers currently have a hard time recruiting qualified Ruby developers.</p>
  		<p>Ruby is designed for fun and productive coding. It’s mostly known for ist popular web framework called Ruby on Rails. Rails is considered a breakthrough in lowering the barriers of entry to programming and cuts development time of web application in half compared to other languages. If you get stuck there is an exeptional online Ruby community which is happy to help out. Websites built with Ruby include Twitter, Hulu and Slideshare.</p>
  	</div>
  	<h1 class="text-center essence"><a href="http://onemonth.com" target="_blank"> ...on Onemonth.com </a></h1>
  	<div class="top-buffer-large">
  		<%= link_to image_tag("omr.png", alt: "OneMonthrails", class: "img-responsive center-block"), 'http://onemonth.com/', target:"_blank" %>
  		<p class="top-buffer-large">The best place to get a jump start with Ruby and Rails development is the <a href="http://onemonth.com" target="_blank">OneMonth Rails tutorial</a> by Mattan Griffel. Along the way of 8 hours of video tutorial you will get familiar with the basics of the programming language, get used to the development environment, create and deploy your very own clone of Instagram. <a href="http://onemonth.com" target="_blank">One Month Rails</a> is arguably the best beginner tutorial for learning ruby and rails out there and we think it makes little sense to start with any other tutorial. Google it and you’ll see people raving about it all over the internet.</p>
  	</div>
  	<div class="top-buffer-large">
  		<%= link_to "Check out One Month Rails now!", 'http://onemonth.com', class: "btn btn-lg btn-primary btn-block", target:"-blank" %>
    </div>
    <div class="top-buffer-large bottom-padding">
      <%= link_to root_path, class: "btn btn-lg btn-default btn-block" do %>
        <span class="fui-arrow-left"></span>
        Start again
      <% end %>
    </div>
  	</div>
  </div>
</div>

