<div class="row lastelement">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">You should learn...</h1>
      <h1 class="text-center essence">...Java...</h1>
      <div class="top-buffer-large">
        <%= image_tag "java.png", class: "img-responsive center-block" %>
        <p class="top-buffer-large">If you want to create an Android app as a personal project you will need to learn a programming language called Java. The best thing about Java is that it’s pretty much everywhere and is used for a lot more than just Android development. 89% of private and 97% of enterprise desktop computers run Java. You can even use Java to program devices such as BluRay players or television sets.</p>
        <p>Your app might depend on data that is stored on a web server (e.g. user profiles, comments, posts, etc.). Java is everywhere, which means that you can use the language to develop your app and to create the web services required to feed it data.</p>
      </div>
      <h1 class="text-center essence"><a href="http://bit.ly/1JEkG6k" target="_blank"> ...on Teamtreehouse.com </a></h1>
      <div class="top-buffer-large">
        <%= link_to image_tag("teamtreehouseandroid.png", alt: "Teamtreehouse Screenshot", class: "img-responsive center-block"), 'http://bit.ly/1JEkG6k', target:"_blank" %>
        <p class="top-buffer-large">The best place to begin learning Java Android development is the <a href="http://bit.ly/1JEkG6k" target="_blank">Android Development Track</a>Track on Teamtreehouse. This beginner course introduces you to basic Java programming and setting up a professional development environment. Over the course of 40 hours you will create and publish an interactive story app, a weather app and a clone of Snapchat. The course does not assume any prior knowledge. All you need to get started is a Windows, Mac or Linux computer and a solid Internet connection.</p>
      </div>
      <div class="top-buffer-large">
        <%= link_to "Check out Teamtreehouse Android now!", 'http://bit.ly/1JEkG6k', class: "btn btn-lg btn-primary btn-block", target:"-blank" %>
      </div>
      <div class="top-buffer-large bottom-padding">
        <%= link_to "Start again", root_path, class: "btn btn-lg btn-default btn-block" %>
      </div>
    </div>
  </div>
</div>


