<%= render 'top' %>

<!-- insert programming language description paragraphs below -->

    		<p class="top-buffer-large">We’re convinced that the first step towards a career in game development is to create a game yourself. PC and console games are usually developed by large teams of designers and programmers with a wide range of skills, a variety of tools, and a range of programming languages. The basic development process for smartphone games is similar but you need far fewer tools and programming languages to get the job done. It makes sense to kick off your career by developing a smartphone game. Sprite Kit, a game development framework for iOS (iPhone, iPad) makes this process especially easy.</p>
    		<p>You will be familiar with the whole game development process, from design to deployment, by the time you complete your first game with Sprite Kit.  At this point you can decide which area you want to dive deeper into.</p>

<!-- programming language description ends here -->

<%= render 'middle' %>

<!-- insert tutorial description pararagraphs below -->

    	<p class="top-buffer-large">The best place to get a jump-start with Sprite Kit game development is <a href="http://bit.ly/1EHqqqM" target="_blank">Teamtreehouse.com</a>. Over the course of two consecutive tutorials, you will design and create a space shooter game from scratch. The first tutorial will introduce you to game design, and during the second tutorial you will actually program the game. The course does not assume any prior knowledge. All you need to get started is a Mac computer and a solid Internet connection.</p>
        <p>Pricing: Starts from $25 with a 14 days free trial.</p>

<!-- tutorial description ends here -->

<%= render 'bottom' %>

