<div class="row lastelement">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">You should learn...</h1>
      <h1 class="text-center essence">...Sprite Kit...</h1>
      <div class="top-buffer-large">
        <%= image_tag "spritekit.png", class: "img-responsive center-block" %>
        <p class="top-buffer-large">PC and console games require a huge range of skills, tools and languages that are rarely covered by one person. We think your first personal game project should run on a smartphone. Sprite Kit, a game development framework for iOS (iPhone, iPad) makes game building easy.</p>
      </div>     
      <h1 class="text-center essence"><a href="http://bit.ly/1EqsBiT" target="_blank"> ...on Teamtreehouse.com </a></h1>
      <div class="top-buffer-large">
        <%= link_to image_tag("teamtreehousegame.png", alt: "Teamtreehouse Screenshot", class: "img-responsive center-block"), 'http://bit.ly/1EqsBiT', target:"_blank" %>
        <p class="top-buffer-large">The best place to get a jump-start with Sprite Kit game development is <a href="http://bit.ly/1EqsBiT" target="_blank">Teamtreehouse.com</a>. Over the course of two consecutive tutorials, you will design and create a Space Shooter game from scratch. The first tutorial will introduce you to game design, and during the second tutorial you will actually program the game. The course does not assume any prior knowledge. All you need to get started is a Mac computer and a solid Internet connection.</p>
      </div>
      <div class="top-buffer-large">
        <%= link_to "Check out Teamtreehouse now!", 'http://bit.ly/1EqsBiT', class: "btn btn-lg btn-primary btn-block", target:"-blank" %>
      </div>
      <div class="top-buffer-large bottom-padding">
        <%= link_to "Start again", root_path, class: "btn btn-lg btn-default btn-block" %>
      </div>
    </div>
  </div>
</div>


