<%= render 'top' %>

<!-- insert programming language description paragraphs below -->

        <p class="top-buffer-large">PC and console games require a huge range of skills, tools and languages that are rarely covered by one person. We think your first personal game project should run on a smartphone. Sprite Kit, a game development framework for iOS (iPhone, iPad) makes game building easy.</p>

<!-- programming language description ends here -->

<%= render 'middle' %>

<!-- insert tutorial description pararagraphs below -->

        <p class="top-buffer-large">The best place to get a jump-start with Sprite Kit game development is <a href="http://bit.ly/1HC41NL" target="_blank">Teamtreehouse.com</a>. Over the course of two consecutive tutorials, you will design and create a Space Shooter game from scratch. The first tutorial will introduce you to game design, and during the second tutorial you will actually program the game. The course does not assume any prior knowledge. All you need to get started is a Mac computer and a solid Internet connection.</p>
        <p>Pricing: Starting from $25 with a 14 days free trial.</p>

<!-- tutorial description ends here -->

<%= render 'bottom' %>
