<div class="row lastelement">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">You should learn...</h1>
      <h1 class="text-center essence">...Java...</h1>
      <div class="top-buffer-large">
        <%= image_tag "java.png", class: "img-responsive center-block" %>
        <p class="top-buffer-large">If you want to start a career as a mobile developer, but don’t know which platform to work on, give Android a try. For beginners there are two reasons to pick Android over iOS. First, Android has more apps and more developers working on the platform than Apple’s App Store. There are many more job opportunities for Android developers. The second reason is that Android apps are developed in a language called Java.</p>
        <p>The best thing about Java is that it’s pretty much everywhere and is used for a lot of things other than Android development. 89% of private and 97% of enterprise desktop computers run Java. You can even use Java to program devices such as BluRay players or television sets. Java is the programming language with the largest job market.</p>
      </div>
      <h1 class="text-center essence"><a href="http://bit.ly/1JEkG6k" target="_blank"> ...on Teamtreehouse.com </a></h1>
      <div class="top-buffer-large">
        <%= link_to image_tag("teamtreehouseandroid.png", alt: "Teamtreehouse Screenshot", class: "img-responsive center-block"), 'http://bit.ly/1JEkG6k', target:"_blank" %>
        <p class="top-buffer-large">The best place to begin learning Java Android development is the <a href="http://bit.ly/1JEkG6k" target="_blank">Android Development Track</a>Track on Teamtreehouse. This beginner course introduces you to basic Java programming and setting up a professional development environment. Over the course of 40 hours you will create and publish an interactive story app, a weather app and a clone of Snapchat. The course does not assume any prior knowledge. All you need to get started is a Windows, Mac or Linux computer and a solid Internet connection.</p>
      </div>
      <div class="top-buffer-large">
        <%= link_to "Check out Teamtreehouse Android now!", 'http://bit.ly/1JEkG6k', class: "btn btn-lg btn-primary btn-block", target:"-blank" %>
      </div>
      <div class="top-buffer-large bottom-padding">
        <%= link_to "Start again", root_path, class: "btn btn-lg btn-default btn-block" %>
      </div>
    </div>
  </div>
</div>
