<div class="row lastelement">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">You should learn...</h1>
      <h1 class="text-center essence">...Java...</h1>
      <div class="top-buffer-large">
        <%= image_tag "java.png", class: "img-responsive center-block" %>
        <p class="top-buffer-large">If you want to start a career as a mobile developer but don’t know which platform to start with you should give Android a try. There are two reasons to pick Android over iOS for getting started. First, Android has overtaken Apple’s App Store in terms of number of apps and also the number of developers working on the platform. This leaves you with more opportunities on the job market. The second reason is, that Android apps are developed in a language called Java. The good thing about Java is that it’s almost everywhere and used in a lot of other contexts than Android development. 89% of private- and 97% of enterprise desktop computers run Java. You can even use Java to program devices such as BluRay players or television sets. Java is the programming language with the largest job market.</p>
      </div>
      <h1 class="text-center essence"><a href="https://teamtreehouse.com/tracks/android-development" target="_blank"> ...on Teamtreehouse.com </a></h1>
      <div class="top-buffer-large">
        <%= link_to image_tag("teamtreehouseandroid.png", alt: "Teamtreehouse Screenshot", class: "img-responsive center-block"), 'https://teamtreehouse.com/tracks/android-development', target:"_blank" %>
        <p class="top-buffer-large">The best place to get a jump-start with Java Android development is the <a href="https://teamtreehouse.com/tracks/android-development" target="_blank">Android Development Track</a> on Teamtreehouse. This beginner course introduces you to basic Java programming and setting up a professional development environment. Over the course of 40 hours you will create and publish an interactive story app, a weather app and a clone of Snapchat.</p>
      </div>
      <div class="top-buffer-large">
        <%= link_to "Check out Teamtreehouse Android now!", 'https://teamtreehouse.com/tracks/android-development', class: "btn btn-lg btn-primary btn-block", target:"-blank" %>
      </div>
      <div class="top-buffer-large bottom-padding">
        <%= link_to "Start again", root_path, class: "btn btn-lg btn-default btn-block" %>
      </div>
    </div>
  </div>
</div>
