<%= render 'top' %>

<!-- insert programming language description paragraphs below -->

    		<p class="top-buffer-large">There’s no way around this programming language, especially if you’re planning a career as a developer and want to work for large corporations. Java is used by a whopping 64% of businesses.</p>
    		<p>Java was first released in 1995 and is still the most in demand and highest paying programming language today. It runs on pretty much every device from personal computers and mobile phones to television sets. Applications built with Java include Gmail, Minecraft, Android apps and a large number of enterprise solutions.</p>

<!-- programming language description ends here -->

<%= render 'middle' %>

<!-- insert tutorial description pararagraphs below -->

        <p class="top-buffer-large">Java is not considered an easy language to learn so it’s very important to choose a high quality tutorial. The best place to get started with learning Java is <a href="http://bit.ly/1Ry5QCo" target="_blank">The Java Tutorial with Java 8 by Examples</a> on Udemy.com. The 11 hours of video tutorial take you step by step through the basics of the Java programming language and setting up your development environment. The course does not assume any prior knowledge. All you need to get started is a Windows, Mac or Linux computer and a solid internet connection.</p>
        <p>Pricing: $19 with a 30 day money back guarantee.</p>

<!-- tutorial description ends here -->

<%= render 'bottom' %>
