<%= render 'top' %>

<!-- insert programming language description paragraphs below -->

    		<p class="top-buffer-large">If you want to launch a mobile startup but aren’t sure which platform to build for you should give iOS (iPhone, iPad) a try.</p>
        <p>As a start-up you will have very limited resources, which is why you should focus on quality over quantity. During app development certain features can work perfectly on some devices and operating systems but not on others. On iOS there is a much smaller range of devices and operating systems compared with Android. Building for iOS first allows you to create a high quality experience for a specific audience, leading to less troubleshooting. Less troubleshooting means happier users, leading to better reviews and more referrals.</p>
        <p>You will need to learn the programming language Swift to build great iOS apps from scratch. Apple introduced the language in 2014 as a successor to the Objective-C programming language, which was used to develop iOS and Mac applications before. Compared to Obj-C, Swift has a very clean and easy to read syntax which makes learning much easier.</p>
         <p>Why shouldn’t you learn Objective-C? This is a good language if you want a career working on existing apps, many of which still run on Obj-C. However, you’re going to be building your apps from scratch. Choose Swift right away and you’ll reach your goals faster.</p>

<!-- programming language description ends here -->

<%= render 'middle' %>

<!-- insert tutorial description pararagraphs below -->

    	<p class="top-buffer-large">The best place to jump into Swift iOS development is the <a href="http://bit.ly/1HC4bEU" target="_blank">One Month iOS tutorial</a> by Alfie Hanssen, lead mobile engineer at Vimeo. During 8 hours of video tutorial you will become familiar with the basics of Swift, get used to the development environment and create your very own clone of Instagram ready to submit to the app store. The course does not assume any prior knowledge. All you need to get started is a Mac computer and a solid Internet connection.</p>
        <p>Pricing: Starts from $49</p>

<!-- tutorial description ends here -->

<%= render 'bottom' %>