<%= render 'top' %>

<!-- insert programming language description paragraphs below -->

        <p class="top-buffer-large">If you want to create a personal web application with the option of integrating dynamic functionality (such as user logins, discussion, search etc.) you should definitely learn a programming language called Ruby.</p>
        <p>Ruby is designed for fun and productive coding and reads a lot like regular English, making it easier to learn. It’s mostly known for its popular web framework, Ruby on Rails. Rails has been a break-through in terms of lowering the barriers of entry to programming. Compared to other languages it cuts development time of web applications in half. The online Ruby community is exceptional and always happy to help out if you get stuck. Websites built with Ruby include Twitter, Hulu and Slideshare.</p>

<!-- programming language description ends here -->

<%= render 'middle' %>

<!-- insert tutorial description pararagraphs below -->

        <p class="top-buffer-large">The best place to get started with Ruby on Rails development is the <a href="http://bit.ly/1cpobBV" target="_blank">One Month Rails tutorial</a> by Mattan Griffel. The 8 hours of video tutorial familiarizes you with the basics of the language, introduces you to the development environment, and guides you as you create and deploy your very own clone of Pinterest. One Month Rails is probably the best Ruby on Rails beginner tutorial out there: Google it and you’ll find lots of rave reviews. The course does not assume any prior knowledge. All you need to get started is a Windows, Mac or Linux computer and a solid Internet connection.</p>
        <p>Pricing: Starting from $49</p>

<!-- tutorial description ends here -->

<%= render 'bottom' %>