<%= render 'top' %>

<!-- insert programming language description paragraphs below -->

        <p class="top-buffer-large">If you want to start a career as a mobile developer, it makes sense to start with the mobile operating system you are already familiar with. In your case this is iPhone and iPad, which use the iOS operating system.</p>
        <p>If you want to start a career in iOS development, the best language to learn is Objective-C. Objective-C is the main language used to develop apps for iOS (iPhone, iPad) and OS X (Mac).</p>
        <p>In 2014 Apple introduced a programming language called Swift, which is the successor to Objective-C. The vast majority of existing apps are still programmed in Objective-C. Hiring managers will be looking out for people with development experience in Obj-C to maintain their existing apps. Don’t worry; once you have a good understanding of Objective-C, learning Swift will be a piece of cake.</p>
      
<!-- programming language description ends here -->

<%= render 'middle' %>

<!-- insert tutorial description pararagraphs below -->

        <p class="top-buffer-large">The best place to start learning Obj-C iOS development is the <%= link_to @tutorial_name, @tutorial_link, target:"_blank" %> development track. The 32 hour long tutorial familiarizes you with the basics of Objective-C first and introduces you to the development environment. After that it’s all about learning by doing. During the course you will build five different apps including a blog reader, a Snapchat clone and a photo browser. The course assumes no prior knowledge. All you need to get started is a Mac computer and a solid Internet connection.</p>

<!-- tutorial description ends here -->

<%= render 'bottom' %>
