<%= render 'top' %>

<!-- insert programming language description paragraphs below -->

    	<p class="top-buffer-large">If you want to start a career in data science, your programming language of choice should be Python. Python is generally considered the go-to solution for data science applications because it comes with a wide range of libraries that allow you to implement functionalities, such as recommendation algorithms, without having to code everything from scratch.</p>
        <p>Python also has a beautiful and clean-looking syntax that reads a lot like normal English. This makes learning a lot easier. Python is a general-purpose language that runs on different platforms and can be used in a lot of fields from research to general web application development. This is one reason why there is currently a strong demand for qualified Python developers.</p>
        <p>Finally, Python is tremendously well documented and has an enthusiastic online community which can offer help and support if you ever get stuck. Applications built with Python include YouTube, Instagram and Spotify.</p>

<!-- programming language description ends here -->

<%= render 'middle' %>

<!-- insert tutorial description pararagraphs below -->

    	<p class="top-buffer-large">The best place to get started is <%= link_to @tutorial_operator, @tutorial_link, target:"_blank" %>. Dataquest is an interactive website that teaches you the basics of the Python programming language and data science at the same time. The fun thing about Dataquest is that it’s really hands-on: for instance, you will learn how to debug code while analyzing real data on student loan defaults in the U.S.</p>
        <p>All lessons are completely browser based, so there’s no cumbersome installation or setup process. The course assumes no prior knowledge, so even if this is your first time coding you should be good to go. All you need to get started is a Windows, Mac or Linux computer and a solid Internet connection. As the course is completely browser based you may come to the point where you ask yourself how you can use your new skills to build an actual real-world application: in this case <a href="http://bit.ly/1RcSbyB" target="_blank">One Month Python</a> is ideal.</p>
        <p>Pricing: Most lessons are free, the premium plan costs $35 per month.</p>

<!-- tutorial description ends here -->

<%= render 'bottom' %>
