<%= render 'top' %>

<!-- insert programming language description paragraphs below -->

        <p class="top-buffer-large">If you are planning to launch a data driven web application, your programming language of choice should be Python. Python is generally considered the go-to solution for data science applications because it comes with a wide range of libraries that allow you to implement functionalities, such as recommendation algorithms, without having to code everything from scratch. In combination with frameworks such as Django, Python is also great for standard web application development.</p>
        <p>Python also has a beautiful and clean-looking syntax that reads a lot like normal English. This makes learning a lot easier. Python is a general-purpose language that runs on different platforms and can be used in a lot of fields from research to general web application development. This is one reason why there is currently a strong demand for qualified Python developers.</p>
        <p>Last but not least, Python is tremendously well documented and has an enthusiastic online community which can offer help and support if you ever get stuck. Applications built with Python include YouTube, Instagram and Spotify.</p>
      
<!-- programming language description ends here -->

<%= render 'middle' %>

<!-- insert tutorial description pararagraphs below -->

        <p class="top-buffer-large">The best place to get started with Python development is the <%= link_to @tutorial_name, @tutorial_link, target:"_blank" %> tutorial by Eric Neuman. The 8 hours of video tutorial familiarize you with the basics of the language, introduce you to the development environment, and guide you as you create and deploy several landing pages as well as a fully functional Yelp-like App with Geo-Location features. The course does not assume any prior knowledge. All you need to get started is a Windows, Mac or Linux computer and a solid Internet connection.</p>
        <p>One Month Python is great for learning web application development with Python, but if you are also interested in data science and artificial intelligence, <a href="https://www.dataquest.io">Dataquest.io</a> offers a great complementary resource.</p>
        <p>Pricing: Starts from $49.</p>

<!-- tutorial description ends here -->

<%= render 'bottom' %>
