<%= render 'top' %>

<!-- insert programming language description paragraphs below -->

        <p class="top-buffer-large">If you want to launch a start-up by building a web application, get started by learning Ruby. Ruby is a modern programming language that reads a lot like regular English, which makes learning it a lot easier. With Ruby, high quality applications can be built efficiently and straightforwardly. This is why it’s the most popular language amongst the start-up community.</p>
        <p>Ruby is designed for fun and productive coding. It’s mostly known for its popular web framework, Ruby on Rails. Rails is considered a breakthrough: not only has it lowered the barriers of entry to programming, it also cuts web application development times in half. If you ever get stuck, Ruby has an exceptional online community that can offer help and advice. Websites built with Ruby include Twitter, Hulu and Slideshare.</p>
      
<!-- programming language description ends here -->

<%= render 'middle' %>

<!-- insert tutorial description pararagraphs below -->

        <p class="top-buffer-large">The best place to get started with Ruby on Rails development is the <%= link_to @tutorial_name, @tutorial_link, target:"_blank" %> tutorial by Mattan Griffel. The 8 hours of video tutorial familiarizes you with the basics of the language, introduces you to the development environment, and guides you as you create and deploy your very own clone of Pinterest. One Month Rails is probably the best Ruby on Rails beginner tutorial out there: Google it and you’ll find lots of rave reviews. The course does not assume any prior knowledge. All you need to get started is a Windows, Mac or Linux computer and a solid Internet connection.</p>
        <p>Pricing: Starting from $49.</p>

<!-- tutorial description ends here -->

<%= render 'bottom' %>
