<%= render 'top' %>

<!-- insert programming language description paragraphs below -->

    		<p class="top-buffer-large">You’re interested in the visual aspect of web applications, so you should aim to become a front-end web developer. The front-end of any web application consists of three programming languages: HTML, CSS and JavaScript. Mastering those languages will let you turn any web application into a beautiful and user-friendly product.</p>
<!-- programming language description ends here -->

<%= render 'middle' %>

<!-- insert tutorial description pararagraphs below -->

    		  <p class="top-buffer-large">The best place to jump-start your career as a front-end developer is the <a href="http://bit.ly/1FTiOXF" target="_blank">Onemonth HTML</a> Tutorial by Chris Castiglione. Through 8 hours of video lessons you will create an about me page, a blog template and a product landing page. Within those projects you learn how to integrate features such as embedded YouTube videos, Google Maps and photo galleries. The course does not assume any prior knowledge. All you need to get started is a Windows, Mac or Linux computer and a solid Internet connection.</p>
          <p>Pricing: Starting from $49</p>

<!-- tutorial description ends here -->

<%= render 'bottom' %>
