<%= render 'top' %>

<!-- insert programming language description paragraphs below -->

        <p class="top-buffer-large">So you want a better understanding of what developers do? You don’t actually want to become a developer yourself but you want to communicate more effectively with your engineering team or with your technical co-founder?</p>
        <p>In this case you don’t need to dive deep into one programming language. Instead you should get your feet wet with different technologies to see how they play together. You should also learn about language-independent concepts such as basic development principles, the difference between the front-end and the back-end of an application and the different stages of application development.</p>
        <p>Knowing about those concepts will let you communicate more effectively with developers working in diverse fields. You will also be much better prepared to understand and assess their work.</p>
      
<!-- programming language description ends here -->

<%= render 'middle' %>

<!-- insert tutorial description pararagraphs below -->

        <p class="top-buffer-large">Onemonth.com offer a 6 hour long video tutorial designed specifically for people who want a better understanding of what developers do. "<%= link_to @tutorial_name, @tutorial_link, target:"_blank" %>"  introduces you to programming basics by showing you how to develop three small web projects from scratch. Along the way you will learn a little bit of HTML, CSS, Javascript and SQL. The course assumes no prior knowledge, so even if this is your first time coding you should find it easy. All you need to get started is a Windows, Mac or Linux computer and a solid Internet connection.</p>
        <p>Pricing: Starts from $49.</p>

<!-- tutorial description ends here -->

<%= render 'bottom' %>
