<div class="row lastelement">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
    	<h1 class="text-center">You should learn...</h1>
    	<h1 class="text-center essence">...Objective-C...</h1>
    	<div class="top-buffer-large">
    		<%= image_tag "objectivec.png", class: "img-responsive center-block" %>
    		<p class="top-buffer-large">If you want to start a career in iOS development, the best language to learn is Objective-C. Objective-C is the main language used to develop apps for iOS (iPhone, iPad) and OS X (Mac).</p>
    		<p>In 2014 Apple introduced a programming language called Swift, which is the successor to Objective-C. The vast majority of existing apps are still programmed in Objective-C. Hiring managers will be looking out for people with development experience in Obj-C to maintain their existing apps. Don’t worry; once you have a good understanding of Objective-C, learning Swift will be a piece of cake.</p>
    	</div>
    	<h1 class="text-center essence"><a href="http://bit.ly/1cir9bC" target="_blank"> ...on Teamtreehouse.com </a></h1>
    	<div class="top-buffer-large">
    		<%= link_to image_tag("teamtreehouseobjectivec.png", alt: "Teamtreehouse Screenshot", class: "img-responsive center-block"), 'http://bit.ly/1cir9bC', target:"_blank" %>
    		<p class="top-buffer-large">The best place to start learning Obj-C iOS development is the <a href="http://bit.ly/1cir9bC" target="_blank">Teamtreehouse iOS development track</a>. The 32 hour long tutorial familiarizes you with the basics of Objective-C first and introduces you to the development environment. After that it’s all about learning by doing. During the course you’re gonna build five different apps including a blog reader, a clone of Snapchat and a photo browser. The course does not assume any prior knowledge. All you need to get started is a Mac computer and a solid Internet connection.</p>
    	</div>
    	<div class="top-buffer-large">
    		<%= link_to "Check out Teamtreehouse now!", 'http://bit.ly/1cir9bC', class: "btn btn-lg btn-primary btn-block", target:"-blank" %>
      </div>
      <div class="top-buffer-large bottom-padding">
        <%= link_to "Start again", root_path, class: "btn btn-lg btn-default btn-block" %>
      </div>
  	</div>
  </div>
</div>

