<%= render 'top' %>

<!-- insert programming language description paragraphs below -->

    		<p class="top-buffer-large">If you want to start a career in iOS development, the best language to learn is Objective-C. Objective-C is the main language used to develop apps for iOS (iPhone, iPad) and OS X (Mac).</p>
    		<p>In 2014 Apple introduced a programming language called Swift, which is the successor to Objective-C. The vast majority of existing apps are still programmed in Objective-C. Hiring managers will be looking out for people with development experience in Obj-C to maintain their existing apps. Don’t worry; once you have a good understanding of Objective-C, learning Swift will be a piece of cake.</p>
 <!-- programming language description ends here -->

<%= render 'middle' %>

<!-- insert tutorial description pararagraphs below -->

    		<p class="top-buffer-large">The best place to start learning Obj-C iOS development is the <a href="http://bit.ly/1FKa70k" target="_blank">Teamtreehouse iOS development track</a>. The 32 hour long tutorial familiarizes you with the basics of Objective-C first and introduces you to the development environment. After that it’s all about learning by doing. During the course you’re gonna build five different apps including a blog reader, a clone of Snapchat and a photo browser. The course does not assume any prior knowledge. All you need to get started is a Mac computer and a solid Internet connection.</p>
        <p>Pricing: Starts from $25 with a 14 days free trial.</p>

<!-- tutorial description ends here -->

<%= render 'bottom' %>
