<%= render 'top' %>

<!-- insert programming language description paragraphs below -->

        <p class="top-buffer-large">If you want to develop an iOS app as a personal project you should learn the Swift programming language. Apple introduced the language in 2014 as a successor to the Objective-C programming language, which was used to develop iOS and Mac applications beforehand. Compared to Obj-C, Swift has a very clean and easy to read syntax which makes learning much easier.</p>
        <p>Why shouldn’t you learn Objective-C? It is a good language to know if you want a career working on existing apps, many of which still run on Obj-C. You’re going to be building your app from scratch, however. Choose Swift right away and you’ll reach your goal faster.</p>

 <!-- programming language description ends here -->

<%= render 'middle' %>

<!-- insert tutorial description pararagraphs below -->

        <p class="top-buffer-large">The best place to jump into Swift iOS development is the <a href="http://bit.ly/1KE5tp2" target="_blank">One Month iOS tutorial</a> by Alfie Hanssen, lead mobile engineer at Vimeo. During 8 hours of video tutorial you will become familiar with the basics of Swift, get used to the development environment and create your very own clone of Instagram ready to submit to the app store. The course does not assume any prior knowledge. All you need to get started is a Mac computer and a solid Internet connection.</p>
        <p>Pricing: Starting from $49</p>

<!-- tutorial description ends here -->

<%= render 'bottom' %>
