<div class="row lastelement">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Nice to meet you!</h1>
      <p class="text-center essence">I'm Valentin, the guy behind YLEARN</p>
      <div class="top-buffer-large">
        <%= image_tag "valentin.jpg", class: "img-responsive center-block" %>
  	    <h3 class="top-buffer-large">Why I started YLEARN?<h3>
        <p>My first startup failed because we didn’t have a technical co-founder. Programming has always fascinated me, so I decided to learn coding myself and become the technical guy for my next startup project.</p>
  		  <p>After deciding to learn how to code I got completely lost. I got so much conflicting advice on which programming language to pick and how to learn it. It was so bad; I ended up doing endless Google searches and not writing a single line of code for over a month. When I finally decided on a language, it only took me about a week to deploy my first web application. Since then I’ve launched several web applications and won one of Europe’s largest hackathons. Learning to code has changed my life for the better.</p>
        <p>I was asking myself why I got so much conflicting advice, and why I wasted so much time and energy trying to figure out the right programming language to start with. I realised that most people give you advice based on what worked for them. They assume you have the same motivations and goals as they do, which you most probably don’t.</p>
        <p>Love it, change it or leave it – I went for the second option and started YLEARN with the goal of condensing my one-month research process into five minutes. How? By asking questions and learning more about you and then giving you a recommendation which is in line with your personal motivations and goals.</p>
        <p>I could never have started YLEARN on my own. All the questioning paths and recommendations were co-created by expert developers working in diverse fields, from startups to corporations, as CTO’s, freelancers and senior engineers.</p>
        <p>I want to congratulate you for deciding to learn how to code. This is probably one of the best decisions of your life. Stop thinking about it, pick the language that’s right for you (you’ve come to the right place for this), build your coding routine and stick to it!</p>
        <p>Do you have any questions or feedback regarding YLEARN? Or just want to tell me a joke? Feel free to <%= mail_to "valentin@ylearn.io", "drop me a line" %> any time.  I’m also happy to connect with you on <a href="https://twitter.com/ylearnio" target="_blank">Twitter</a> and <a href="https://www.facebook.com/learncodingforyou" target="_blank">Facebook</a>.</p>
      </div>
    </div>
  </div>
</div>