<div class="jumbotron">
	<h1>Learn the Programming Language that Is Right for You</h1>
	<p>Learning to code from scratch? Tired of endless google searches about which language to learn and from where? We’ve got you covered! Tell us about your coding ambitions and get your individual recommendation on which language to learn and from where. The recommendations are curated by a team of expert developers and educators and taylored to your motivation and goals. It takes less than a minute and oh yes, it’s free!</p>
	<a href="#fakelink" class="btn btn-lg btn-block btn-info">Get free recommendation!</a>
</div>
