<div class="bg"></div>
    <div class="jumbotron" style="background-color: transparent;">
        <div class="container">
	       <div class="whitetext text-center">
	           <h1 class="bottom-padding">Learn the Programming Language that's Right for You.</h1>
	           <p class="whitetext bottom-padding">Learning to code from scratch? Tired of endless Google searches?<br> Answer four questions and you'll know which language to learn  and from where.</p>
	
	           <%= link_to "Get started, it's free!", q1_path, class: "btn btn-lg btn-primary" %>
            </div>
        </div>
    </div>
    <div class="bgwhite lastelement">
        <div class="container">
            <%= render 'layouts/testimonialcarrousel' %>
        </div>
    </div>
</div>

