<div class="row">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Your individual coding curriculum is ready!</h1>
      <div class="top-buffer-large">
        <%= image_tag "happy.png", class: "img-responsive center-block" %>
        <p class="top-buffer-large">What you will get:<p>
          <ul>
            <li>An individual recommendation on which programming language you should learn first.</li>
            <li>A breakdown of why this programming language makes most sense for you.</li>
            <li>An individual tutorial recommendation which will take you from absolute beginner to launching your first real application within a few weeks from now.</li>
          <ul>
        </div>
        <p class="bottom-padding">Get access now by paying with a Tweet or Facebook post!</p>
      <div class=" text-center">
        <script async id="button_e18693fc-4677-44f0-80c4-d1cc96acffc9" src="http://www.paywithapost.de//embeds/e18693fc-4677-44f0-80c4-d1cc96acffc9" charset="utf-8"></script>
      </div>
      <div class="top-buffer-large bottom-padding text-center">
        <h6><a href src="http://bit.ly/1G3mPW9">I don't think this recommendation is of any value. Show it to me without sharing.</a></h6>
      </div>
    </div>
  </div>
</div>