<div class="footer">
  <nav class="nomargin navbar navbar-default navbar-bottom ">
    <div class="container">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
        <li class="margin-round"><%= link_to "© 2015 by Createers ltd", "#" %></li> 
      </ul>
    </div> 
    <ul class="nav navbar-nav navbar-right padding-top">
        <li><a href="https://www.facebook.com/learncodingforyou" class="fa fa-facebook"></a></li>
        <li><a href="https://twitter.com/ylearnio" class="fa fa-twitter"></a></li> 
      </ul>
    </div>
  </nav>
</div>
