<nav class="navbar navbar-default" role="navigation">
	<div class="container">
  		<div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("logo_ylearn_small.png", alt: "OneMonthrails", class: "img-responsive margin-round"), root_path %>
      </div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li class="margin-round"><%= link_to "About", "#" %></li>
        <li class="margin-round"><%= mail_to "valentin@ylearn.io", "Contact" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>