<nav class="navbar navbar-default" role="navigation">
	<div class="container">
  		<div class="navbar-header">
    		<%= link_to image_tag("logo_ylearn_small.png", alt: "OneMonthrails", class: "img-responsive margin-round"), root_path %>
  		</div> 
  		<ul class="nav navbar-nav navbar-right">
      		<li class="margin-round">
      			<%= mail_to "valentin@ylearn.io", "Contact" %>
      		</li> 
    	</ul>
	</div>
</nav>