<div class="row padding-top">
    <div class="col-md-12" data-wow-delay="0.2s">
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <div>
                <ol class="carousel-indicators customcarousel">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="http://i59.tinypic.com/zojbrm.jpg" alt=""></li>
                    <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="http://i58.tinypic.com/161dc49.jpg" alt=""></li>
                    <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="http://i62.tinypic.com/ouwcye.jpg" alt=""></li>
                </ol>
            </div>
            <!-- Carousel Slides / Quotes -->
             <div class="carousel-inner text-center">
                <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <p>YLEARN first seemed oversimplified to me but it really works. I sticked to the tutorial they recommended me and after just 30 days I reached my goal of being able to develop prototype web applications for new startup ideas.</p>
                                    <small class="padding-top"><a href="https://ch.linkedin.com/pub/elias-koster/72/b32/955/en" target="_blank">Elias Koster, Berlin</a></small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <p>Choosing your first programming language to learn? Stop looking any further! I’ve been a developer for 6 years and I can assure you that you’re gonna make a good choice by going with YLEARN’s recommendations.</p>
                                    <small class="padding-top"><a href="http://facebook.com/haidahaha" target="_blank">Dang Nguyen, Senior Developer</a></small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <p>There are hundreds of interesting programming languages and frameworks. YLEARN is great for picking your very first one. Just get started with their recommendation and the next steps will fall into place.</p>
                                    <small class="padding-top"><a href="http://soom-it.ch/#team" target="_blank">Patrick Bönzli, Co-Founder at Soom-it</a></small>
                                </div>

                            </div>
                        </blockquote>
                    </div>

                </div>
                <div class="separation"></div>


                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>